<mat-toolbar color="primary">
  <!-- <div class="example-button-container">
    <button mat-icon-button>
      <mat-icon mat-icon-button>home</mat-icon>
      </button>

  </div> -->
  <section>
    <button mat-icon-button class="customwidth" routerLink="/home">
      <mat-icon mat-icon-button>home</mat-icon>
      Home
      </button>
    <button mat-flat-button color="primary" routerLink="/employees">
      Manage Employees
    </button>
        <button mat-flat-button color="primary" (click)="logout()">
    Logout
    </button>
  </section>
</mat-toolbar>



<router-outlet></router-outlet>
